RewriteEngine On
RewriteBase /
RewriteRule ^post/([^/]+)/?$ posts/post_view.php?slug=$1 [L,QSA]
RewriteRule ^tag/([^/]+)/?$ tags/index.php?slug=$1 [L,QSA]
RewriteRule ^category/([^/]+)/?$ categories/index.php?slug=$1 [L,QSA]
