@import "./variables.scss";

.padding_bottom_0 {
  padding-bottom: 0 !important;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}
.nav-item.search {
  display: flex;
  position: relative;
  margin: 0 10px;
  border: 1px solid #ddd;

  input {
    flex: 1;
    padding: 10px;
    padding-left: 30px;
    border: 0;
    background: transparent;
  }

  &:hover {
    background-color: #f3f3f3;
  }

  img {
    position: absolute;
    opacity: 0.5;
    width: 1em;
    height: 1em;
    height: 1em;
    margin-top: 15px;
    margin-left: 8px;
  }
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.logo {
  width: 80px;
  font-size: 21px;
}

.logo > a {
  color: $primary-color;
}

.logo img {
  height: 2em;
  transform: rotate(15deg);
  margin-top: -2px;
}

.logo a > span {
  margin-left: -5px;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

.logo {
  width: 18%;
  float: left;
}
.navbar {
  padding: 20px 30px;

  .navbar-nav {
    flex: 1;
    justify-content: center;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}
.bg-light {
  background-color: #fefeff !important;
  box-shadow: 0px 0px 10px 0px;
  border-top: 20px solid #333a44;
}
.navbar-light .navbar-nav .nav-link {
  color: #24292f;
  font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $primary-color-2;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $primary-color-2;
}

.banner_section {
  width: 100%;
  float: left;
  background-image: url(../images/banner-bg.png);
  height: auto;
  padding-bottom: 200px;
  background-size: cover;
}
.image_1 {
  width: 100%;
  float: left;
  padding-top: 40px;
}

.video_text {
  width: 100%;
  float: left;
  font-size: 50px;
  color: #fefeff;
  font-weight: 600;
  text-transform: uppercase;
}
.controller_text {
  width: 100%;
  float: left;
  font-size: 70px;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
}
.banner_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #fefeff;
  font-weight: 500;
  margin-left: 0px;
  padding-top: 50px;
}

#my_slider a.carousel-control-prev {
  position: absolute;
  left: 15px;
  top: 115%;
  background-color: var(--primary-color);
}
#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
  width: 65px;
  height: 65px;
  background: #ffffff;
  opacity: 1;
  font-size: 30px;
  color: #000;
  border-radius: 100px;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
  background: var(--primary-color);
  color: #fff;
}
#my_slider a.carousel-control-next {
  position: absolute;
  left: 100px;
  top: 115%;
}

.about_section {
  width: 100%;
  float: left;
  background-color: #f2f7fd;
  height: auto;
  padding-bottom: 90px;
}

.image_2 {
  width: 100%;
  float: left;
  padding-top: 50px;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 50px;
  color: #2d343e;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}

.lorem_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #2d343e;
  margin-left: 0px;
  text-align: right;
}

.product_section {
  width: 100%;
  float: left;
}
.product_section_2 {
  width: 100%;
  float: left;
}

.product_text {
  width: 100%;
  float: left;
  font-size: 50px;
  color: #24292f;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.long_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #363636;
  margin-left: 0px;
  text-align: center;
}
.price_text {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #5ca0e9;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.game_text {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #2d343e;
  text-align: center;
}

.see_main {
  width: 17%;
  margin: 0 auto;
  text-align: center;
}

.see_bt {
  width: 100%;
  float: right;
  font-size: 18px;
  text-align: center;
  background-color: #fcfcfd;
  color: #191919;
  border-left: 10px solid var(--primary-color);
  border-radius: 30px;
  border-right: 10px solid var(--primary-color);
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding: 5px 0px;
  margin-top: 40px;
}

.see_bt a {
  color: #191919;
}
.see_bt a:hover {
  color: var(--primary-color);
}

.video_section {
  width: 100%;
  float: left;
  background-image: url(../images/video-bg.png);
  height: auto;
  margin-top: 90px;
}

.video_text_2 {
  width: 100%;
  float: left;
  font-size: 50px;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
}
.controller_text_2 {
  width: 100%;
  float: left;
  font-size: 58px;
  color: #fefeff;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 50px;
}
.banner_text_2 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #fefeff;
  font-weight: 500;
  margin-left: 0px;
  padding-top: 50px;
}

.testimonial_section {
  width: 100%;
  float: left;
}
.testimonial_text {
  width: 100%;
  float: left;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  color: #191919;
  text-transform: uppercase;
}

.ipsum_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #191919;
  text-align: center;
  margin-left: 0px;
}

.testimonial_section_2 {
  width: 100%;
  float: left;
  padding-top: 50px;
}
.box_main {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #424242;
  padding: 40px;
  border-radius: 20px;
  display: flow-root;
}

.quote_icon {
  width: 100%;
  float: left;
  text-align: left;
}

.dolor_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #191919;
  text-align: left;
  margin-left: 0;
}

.client_main {
  width: 45%;
  float: left;
  background-color: var(--primary-color);
  height: auto;
}

.client_left {
  width: 50%;
  float: left;
  text-align: left;
}

.client_right {
  width: 50%;
  float: left;
  text-align: left;
  padding-top: 25px;
  position: relative;
  left: -60px;
}

.images_5 {
  width: 100%;
  float: left;
  padding-left: 15px;
}

.sandy_text {
  width: 100%;
  float: left;
  font-size: 20px;
  color: #fefeff;
}

.sandy_text_1 {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #191919;
  margin-left: 0px;
  margin-top: 0px;
}

.contact_section {
  width: 100%;
  float: left;
  background-color: #f2f7fd;
  height: auto;
  padding-bottom: 90px;
  margin-top: 90px;
}

.image_6 {
  width: 100%;
  float: left;
}

.email_box {
  width: 100%;
  float: left;
  /* background-color: #ffffff; */
  /* border-radius: 20px; */
  height: auto;
  /* padding: 50px 20px; */
  /* opacity: 0.80; */
}

.email-bt {
  color: #000000;
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 20px 20px 0px 0px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #888686;
}

.massage-bt {
  color: #000000;
  width: 100%;
  height: 80px;
  font-size: 18px;
  padding: 36px 20px 10px 0px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #888686;
}

.send_btn {
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main_bt {
  background: #ed1c24;
  border: none;
  color: #faf9f9;
  width: 160px;
  height: 58px;
  font-size: 24px;
  padding-top: 3px;
  border-radius: 30px;
  margin-left: 15px;
  text-align: center;
  padding-top: 8px;
  margin-top: 60px;
}
.main_bt a {
  color: #faf9f9;
}

.main_bt a:hover {
  color: #000;
}

.ipsum_text_2 {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  margin-left: 0px;
  margin-top: 0px;
}

.section_footer {
  width: 100%;
  float: left;
  background-color: rgb(41, 40, 40);
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.account_text {
  width: 100%;
  float: left;
  font-size: 28px;
  color: rgb(235, 235, 235);
  font-weight: bold;
  padding: 25px 0px;
}

.email_text {
  width: 100%;
  float: left;
  font-size: 12pt;
  color: #eceaea;
  background-color: #ffffff;
  padding: 10px;
  border: 0px;
}

.subscribr_bt {
  width: 60%;
  float: left;
  font-size: 16pt;
  color: #eceaea;
  background-color: var(--primary-color);
  padding: 5px 0px;
  border: 0px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

.useful_link {
  width: 100%;
  float: left;
}
.useful_link ul {
  margin: 0px;
  padding: 0px;
}

.useful_link li {
  color: #ffffff;
  font-size: 16px;
}

.useful_link li a {
  color: #ffffff;
}

.useful_link li a:hover {
  color: var(--primary-color);
}

.footer_section_2 {
  width: 100%;
  float: left;
  border-bottom: 1px solid #898989;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.social_icon {
  width: 19%;
  margin: 0 auto;
  text-align: center;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
}

.social_icon li {
  float: left;
  padding-right: 20px;
  padding-top: 40px;
}

.copyright_section {
  width: 100%;
  float: left;
  background-color: var(--primary-color);
  height: auto;
}

.copyright_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #000;
}

.margin_top_0 {
  margin-top: 90px;
}

.padding_top_0 {
  margin-top: 0px;
}

.margin_top_2 {
  margin-top: 90px;
}

.padding_video_0 {
  margin-top: 0px;
}

@include mobile {
  .header_section {
    position: sticky;
    z-index: 1000;
    top: 0;
  }
}
